torch
transformers
python-dotenv
kaggle
scipy
sympy
antlr4-python3-runtime==4.11.*
pandas
ipykernel
ipywidgets
jinja2
pylatexenc
playwright
pytest-playwright
pythonmonkey
beautifulsoup4
jsonlines
tiktoken
torch
google-cloud-aiplatform
asynciolimiter
google.generativeai
matplotlib
seaborn
scikit-learn
langchain
langchain-core
langchain-community
langchain-experimental
wandb
datasets
peft
trl @ git+https://github.com/huggingface/trl@main
accelerate